[submodule "torture"]
	path = torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/wyanzhao/rocket-chip.git
[submodule "boom"]
	path = boom
	url = https://github.com/wyanzhao/boom.git
